<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <style>
        .ident{
            text-indent: 50px;
        }
        .cabecalho{
            text-indent: 25px;
        }
    </style>
</head>
<body>
    <h1 class = "cabecalho">Anotações das Video aulas em HTML. </h1>
    <br>
    <h2 class = "cabecalho"><strong>Aula 24 - Funcao Render</strong></h2>
    <br>
    <p class="ident">
        Entendendo a funçãop render por dentro. Mudando o status code.{{name}}, esse é o meu nome, testando a passagem de variaveis pelo request.
    </p>
</body>
</html>